<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>Welcome!</h1>
			<p>This gadget was created to simplify planning complex PI
				chains. 
				</p>
			<p>I wrote it because I tried making a Wetware Mainframe chain
				by exporting T1s and raged so hard at the impracticality that it was
				only ever active for a few hundred cycles. I hope my suffering is
				useful to you.</p>
			<p>To begin, click the
				<button class="btn btn-success" ng-click="addPlanet()">Add Planet</button>
				button in the navbar
				</p>
			
		</div>
	</div>
</div>