<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>PI Planning Gadget</h1>
			<p>This exists because I tried making a Wetware Mainframe chain
				by exporting T1s and raged so hard at the impracticality that it was
				only ever active for a few hundred cycles. I hope my suffering is
				useful to you.</p>
			<p>To begin, click the
				<button class="btn btn-success" ng-click="addPlanet()">Add Planet</button>
				button in the navbar <span ng-show="Logic.loadedSetup">or one of the loaded planets below</span>
				</p>
			<div ng-repeat="p in Logic.planets track by $index" ng-show="Logic.loadedSetup">
				<button class="btn btn-primary" ng-click="setActiveView($index)">{{p.name}}</button>
			</div>

			<div ng-show="failedLoad">
				<p>Warning: Load failed! Key is invalid or expired</p>
			</div>
		</div>
	</div>
</div>