<div class="container-fluid">
	<!-- <div class="row">
		<div class="col-md-12">
			<h1>MarketpanelTemplate</h1>
		</div>
	</div>	 -->
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">System Totals</div>
				<div class="panel-body">
					<div class="col-md-4">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="marketLocationInput" class="col-xs-7 control-label">Market Location</label>
								<div class="col-xs-5">
									<input type="text" class="form-control" id="marketLocationInput" placeholder="Needs to be a select" 
										ng-model="Logic.marketId">
								</div>
							</div>
							<div class="form-group">
								<label for="buyOrSellInput" class="col-xs-7 control-label">Import Order Type</label>
								<div class="col-xs-5">
									<select class="form-control" id="buyOrSellInput" ng-model="Logic.importOrderType"
										ng-change="Logic.refreshSystemMarketTotals()">
										<option value="buy">BUY</option>
										<option value="sell">SELL</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="buyOrSellInput" class="col-xs-7 control-label">Export Order Type</label>
								<div class="col-xs-5">
									<select class="form-control" id="buyOrSellInput" ng-model="Logic.exportOrderType"
										ng-change="Logic.refreshSystemMarketTotals()">
										<option value="buy">BUY</option>
										<option value="sell">SELL</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="salestaxInput" class="col-xs-7 control-label">Sales Tax</label>
								<div class="col-xs-5">
									<input type="text" class="form-control" id="salestaxInput" ng-model="Logic.taxRate"
										ng-change="Logic.refreshMarketFees()">
								</div>
							</div>
							<div class="form-group">
								<label for="brokerfeesInput" class="col-xs-7 control-label">Broker Fees</label>
								<div class="col-xs-5">
									<input type="text" class="form-control" id="brokerfeesInput" ng-model="Logic.brokerFees"
										ng-change="Logic.refreshMarketFees()">
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-8">
						<table class="table table-bordered table-condensed"><!--  style="text-align:right"> -->
							<tr>
								<th>Item</th>
								<th>System Vol/Day</th>
								<th>Market Vol/Day</th>
								<th>Market Price</th>
								<th>Isk/Hour</th>
							</tr>
							<tr ng-repeat="item in Logic.System.importExports" ng-if="item.quantity > 0" class="exportColors">
								<td style="text-align:left">{{DATA.itemDetails[item.id].name}}</td>
								<td class="price">{{item.quantity * 24 | number}}</td>
								<td class="price">{{Logic.marketprices[item.id][Logic.exportOrderType].volume | number}}</td>
								<td class="price">{{Logic.marketprices[item.id][Logic.exportOrderType].fivePercent | currency:"":2}}</td>
								<td class="price">
									{{Logic.marketprices[item.id][Logic.exportOrderType].fivePercent * item.quantity  | currency:"":2}}
								</td>
							</tr>
							<tr ng-repeat="item in Logic.System.importExports" ng-if="item.quantity < 0" class="importColors">
								<td>{{DATA.itemDetails[item.id].name}}</td>
								<td class="price">{{item.quantity * -24 | number}}</td>
								<td class="price">{{Logic.marketprices[item.id][Logic.importOrderType].volume | number}}</td>
								<td class="price">{{Logic.marketprices[item.id][Logic.importOrderType].fivePercent | currency:"":2}}</td>
								<td class="price">
									{{Logic.marketprices[item.id][Logic.importOrderType].fivePercent * item.quantity *-1  | currency:"":2}}
								</td>
							</tr>
							<tr>
								<td colspan="4">
									Total Hourly Export Revenue
								</td>
								<td class="price">{{Logic.totalHourlyExportRevenue | currency:"":2}}</td>
							</tr>
							<tr>
								<td colspan="4">
									Export Market Fees
								</td>
								<td class="price">{{Logic.totalHourlyExportMarketFees | currency:"":2}}</td>
							</tr>
							<tr>
								<td colspan="4">
									Total Hourly Import Cost
								</td>
								<td class="price">{{Logic.totalHourlyImportCost | currency:"":2}}</td>
							</tr>
							<tr>
								<td colspan="4">
									Import Market Fees
								</td>
								<td class="price">{{Logic.totalHourlyImportMarketFees | currency:"":2}}</td>
							</tr>
							<tr>
								<td colspan="4">
									Total Hourly Customs Tax
								</td> 
								<td class="price">{{Logic.totalHourlyCustomsTax | currency:"":2}}</td>
							</tr>
							<tr>
								<td colspan="4">
									Profit Per Hour
								</td>
								<td class="price" style="font-style: bold">
									{{Logic.totalHourlyExportRevenue - Logic.totalHourlyImportCost
										- Logic.totalHourlyExportMarketFees - Logic.totalHourlyImportMarketFees
										- Logic.totalHourlyCustomsTax | currency:"":2}}
								</td>
							</tr>
							<tr>
								<td colspan="4">
									Average Profit Per Hour
								</td>
								<td class="price">
									{{(Logic.totalHourlyExportRevenue - Logic.totalHourlyImportCost
										- Logic.totalHourlyExportMarketFees - Logic.totalHourlyImportMarketFees
										- Logic.totalHourlyCustomsTax) / Logic.planets.length | currency:"":2}}
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12" ng-repeat="planet in Logic.planets">
			<div class="panel panel-default">
				<div class="panel-heading">{{planet.name}}</div>
				<div class="panel-body">
					<!-- <p>Imports and POCO taxes</p>
					<p>Exports and POCO taxes</p>
					<p>Profit before market fees</p>
					<p>Export Market fees</p>
					<p>Import Market fees</p>
					<p>Profit after market fees</p> -->
					<div class="row">
						<div class="col-md-6">
							<table class="table table-condensed">
								<tr ng-repeat="item in planet.ioDetails" ng-if="item.quantity > 0" class="exportColors">
									<td>{{DATA.itemDetails[item.id].name}}</td>
									<td class="price">{{item.quantity | number}}</td>
									<td class="price">
										{{Logic.marketprices[item.id][Logic.exportOrderType].fivePercent * item.quantity | currency:"":2}}
									</td>
								</tr>
								<tr ng-repeat="item in planet.ioDetails" ng-if="item.quantity < 0" class="importColors">
									<td>{{DATA.itemDetails[item.id].name}}</td>
									<td class="price">{{item.quantity * -1 | number}}</td>
									<td class="price">
										{{Logic.marketprices[item.id][Logic.importOrderType].fivePercent * item.quantity *-1 | currency:"":2}}
									</td>
								</tr>
							</table>
						</div>
						<div class="col-md-6">
							<table class="table table-condensed" style="text-align: right">
								<tr>
									<td colspan="2">Export Revenue</td>
									<td class="price">{{planet.exportRevenue | currency:"":2}}</td>
								</tr>
								<tr>
									<td colspan="2">Import Cost</td>
									<td class="price">{{planet.importCost | currency:"":2}}</td>
								</tr>
								<tr>
									<td colspan="2">POCO Taxes</td>
									<td class="price">
										{{planet.importTaxes + planet.exportTaxes | currency:"":2}}
									</td>
								</tr>
								<tr>
									<td colspan="2">Planet Profit before Market Fees</td>
									<td class="price">
										{{planet.exportRevenue - planet.importCost
										 - (planet.importTaxes + planet.exportTaxes) | currency:"":2}}
									</td>
								</tr>
								<tr>
									<td colspan="2">Export Market Fees</td>
									<td class="price">{{planet.exportMarketFees | currency:"":2}}</td>
								</tr>
								<tr>
									<td colspan="2">Import Market Fees</td>
									<td class="price">{{planet.importMarketFees | currency:"":2}}</td>
								</tr>
								<tr>
									<td colspan="2">Independent Planet Profit</td>
									<td class="price">
										{{planet.exportRevenue - planet.importCost
										- planet.exportMarketFees - planet.importMarketFees 
										- (planet.importTaxes + planet.exportTaxes) | currency:"":2}}
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
</div>